body {
    background-color: rgb(125, 188, 243);
    margin-bottom: 10%;
    margin-left: 6%;
}

form {
    background-color: aqua;
    height: 20%;
    margin-bottom: 6%;
    border-radius: 5%;
    width: 350px;
    padding-left: 20px;
    margin-bottom: 10%;
    margin-left: 30%;
}

.l1 {}

.r1 {
    margin-left: 5%;
}

.r2 {
    margin-left: 7.5%;
}

.r3 {
    margin-left: 3.8%;
}

.won {
    margin-left: 50%;
    margin-top: 20%;
}

.won1 {
    margin-left: 2%;
    margin-top: 20%;
}

button:hover {
    align-items: center;
    background-color: lightgreen;
    border: none;
}

.num {
    margin-left: 50%;
    margin-top: 50%;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0%;
}

fieldset {
    margin-top: 2%;
    height: 380px;
    width: 290px;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
    
}

.h31 {
    margin-top: 3%;
    text-align: center;
    text-shadow: 1px 2px 3px;
    display: block;
    color: rgb(91, 143, 185);
    ;
}
