body {
  display: flex;              /* turn body into flex container */
  justify-content: center;    /* center horizontally */
  align-items: center;        /* center vertically */
  min-height: 100vh;          /* make body full screen height */
  margin: 0;                  /* remove default body margin */
  background: #f0f0f0;
}



.l1 {}

.r1 {
    margin-left: 5%;
}

.r2 {
    margin-left: 7.5%;
}

.r3 {
    margin-left: 3.8%;
}

.won {
    margin-left: 50%;
    margin-top: 20%;
}

.won1 {
    margin-left: 2%;
    margin-top: 20%;
}

button:hover {
    align-items: center;
    background-color: lightgreen;
    border: none;
}

.num {
    margin-left: 50%;
    margin-top: 50%;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0%;
}

fieldset {
width: 100%;
max-width: 400px; /* don't let it get too wide */
padding: 20px;
border: 2px solid #ccc;
border-radius: 8px;
box-sizing: border-box;
}

.h31 {
    margin-top: 3%;
    text-align: center;
    text-shadow: 1px 2px 3px;
    display: block;
    color: rgb(91, 143, 185);
    margin-left:0%;
}
