body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
background: #222;
}



.l1 {}

.r1 {
    margin-left: 5%;
}

.r2 {
    margin-left: 7.5%;
}

.r3 {
    margin-left: 3.8%;
}

.won {
    margin-left: 50%;
    margin-top: 20%;
}

.won1 {
    margin-left: 2%;
    margin-top: 20%;
}

button:hover {
    align-items: center;
    background-color: lightgreen;
    border: none;
}

.num {
    margin-left: 50%;
    margin-top: 50%;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0%;
}

fieldset {
    margin-top: 2%;
    height: 380px;
    width: 230px;
    border-radius: 20px;
    align-items: center;
    margin-left:0%;
    
    
}

.h31 {
    margin-top: 3%;
    text-align: center;
    text-shadow: 1px 2px 3px;
    display: block;
    color: rgb(91, 143, 185);
    margin-left:0%;
}
